body {
background-color: #30CBE8;

}

h2 {
	color: #FAFAFA;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Allerta Stencil', sans-serif;


}

h3, h4 {

	color: #FAFAFA;
	font-family: 'Gloria Hallelujah', cursive;
font-family: 'Orbitron', sans-serif;
}
#accoHead{
color:black;
font-size: 30px;

}

#accoBody{
color:black;
font-size: 20px;

}



table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color: #fff;
}
table#t01 th {
    background-color: black;
    color: white;
}

.col-lg-6, .col-lg-8, .col-lg-2, .col-lg-12 {

	text-align: center;
}


/* used for centering images of each instance sense they are links anchor links */
.a {

	text-align: center;
}

/*Gives spacing between the instance image rows */
.top-buffer { margin-top:40px; }


.buttonImage{

	border:0;
    background:transparent;
}


#buttonTimer{
    border:none;
    background:none;
}

#progressBar {


}

.jumbotron{
    padding:15px;
    margin:15px;
    border-radius: 45px;
    background-color: #FAFAFA !important;
}

.panel-heading{
    font-size: 35px;
    color:black;


}

#acco{
    
    color:black;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #FF4430;
    color: #FAFAFA;

}

.display-4{

    font-size: 20px;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}

a:hover {
    color: grey;
}

a:active {
    color: white;
} 

.hoverinfo {
  
  font-size: 18px;
  color: #FAFAFA;
  cursor: pointer;
}
.hoverinfo p {
  background-color: #FF4430;
  display: block;
  border-radius: 25px;

}

.descriptionInstance{
display: none;

}







.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/*
blue main: 30CBE8 
red complimentary:  FF4430
grey dark: 3A4A4D
grey light: FAFAFA
*/

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #FAFAFA;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    color:#FF4430;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 0px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #FF4430;
    color: white;
}

.modal-body {
	padding: 2px 16px;
text-align: center;    
}

.modal-footer {
    padding: 2px 16px;
    background-color: #FF4430;
    color: white;
}