body {
background-color: #30CBE8;

}



h2, h1 {
	color: #FAFAFA;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Allerta Stencil', sans-serif;


}

h3, h4 {

	color: #FAFAFA;
	font-family: 'Gloria Hallelujah', cursive;
font-family: 'Orbitron', sans-serif;
}


.col-lg-6, .col-lg-8, .col-lg-2, .col-lg-12 {

	text-align: center;
}


/* used for centering images of each instance sense they are links anchor links */
a:link {
    color: red;
}

/*Gives spacing between the instance image rows */
.top-buffer { margin-top:40px; }

#buttonTimer{
	border:none;
	background:none;
}





/*



blue main: 30CBE8 
red complimentary:  FF4430
grey dark: 3A4A4D
grey light: FAFAFA


*/